<%= render partial: 'layouts/errors', locals:{object: @bourbon}%>
<%= form_for(@bourbon) do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name%>
</div>

<div>
    <%= f.label :kind %>
    <%= f.text_field :kind%>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>

<p>Please select a distillery:</p>
<div>
    <%= f.collection_select :distillery_id, Distillery.all, :id, :name, include_blank: "Pick one" %>
</div>

<p>or, create a new distillery!</p>
<%= f.fields_for :distillery do |d| %>
    <%= d.label :name %>
    <%= d.text_field :name %>
<% end %>
<br />
<%= f.submit %>

<% end %>